@use './../../../../public/styles/all_styles.scss' as all;
@forward '../../../../public/styles/component-styles.scss';

:host {

    .grid-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 2px;
        grid-row-gap: 2px;
        width: 100%;
        height: 75dvh;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        border-radius: 1rem;
        background-color: #e5e7eb;
        padding: 0;

        @include all.notebook {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;

            .div1 {
                grid-area: auto;
            }

            .div2 {
                grid-area: auto;
            }

            .div3 {
                grid-area: auto;
            }

            .div4 {
                grid-area: auto;
            }

            .div14 {
                grid-area: auto;
            }

            .div5 {
                grid-area: auto;
            }

            .div6 {
                grid-area: auto;
            }

            .div7 {
                grid-area: auto;
            }

            .div8 {
                grid-area: auto;
            }

            .div15 {
                grid-area: auto;
            }

            .div9 {
                grid-area: auto;
            }

            .div10 {
                grid-area: auto;
            }

            .div11 {
                grid-area: auto;
            }

            .div12 {
                grid-area: auto;
            }

            .div16 {
                grid-area: auto;
            }
        }
    }

    .grid-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        font-size: 1.6rem;
        text-align: center;
        font-weight: 600;
        border: 1px solid #9ca3af;
        color: #1f2937;
        background: #f3f4f6;
        border-radius: 0.5rem;
    }

    .btn-set {

        &:hover {
            background-color: #e08b45;
        }
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .div2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .div3 {
        grid-area: 1 / 3 / 2 / 4;
    }

    .div4 {
        grid-area: 1 / 4 / 2 / 5;
    }

    .div14 {
        grid-area: 1 / 5 / 2 / 6;
    }

    .div5 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .div6 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .div7 {
        grid-area: 2 / 3 / 3 / 4;
    }

    .div8 {
        grid-area: 2 / 4 / 3 / 5;
    }

    .div15 {
        grid-area: 2 / 5 / 3 / 6;
    }

    .div9 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .div10 {
        grid-area: 3 / 2 / 4 / 3;
    }

    .div11 {
        grid-area: 3 / 3 / 4 / 4;
    }

    .div12 {
        grid-area: 3 / 4 / 4 / 5;
    }

    .div16 {
        grid-area: 3 / 5 / 4 / 6;
    }

    img {
        width: 50%;
        height: 50%;
        margin-bottom: 0.5rem;
    }

    h3 {
        width: 100%;
        min-height: 3rem;
        text-align: center;
    }
}