<img src="assets/icon/buecherwum.png" alt="das Logo vom Bücherwurm">

<h1>Willkommen in der GS "Zum Bücherwurm" Oschatz</h1>

<h2>Liebe Besucher,</h2>

<p><span>herzlich willkommen auf unserer Webseite!</span> Wir, das Team der Bücherwürmer, freuen uns, Sie hier begrüßen
	zu dürfen.</p>

<p>Auf unserer Webseite finden Sie zum einen wichtige <span>Informationen rund um den Schulalltag</span>, wie etwa
	Termine, Formulare
	oder unser Ganztagsangebot. Zum anderen erhalten Sie hier die Möglichkeit, sich einen ersten <span>Eindruck vom
		Leben und
		Lernen am Bücherwurm</span> zu machen.</p>

<p>Für weitere Details zur Arbeit unseres angegliederten <span>Fördervereins "Verein der Freunde und Förderer der
		Grundschule
		"Zum Bücherwurm" Oschatz e. V."</span> sprechen Sie uns gerne an.</p>

<p>
	Wir sind sehr bemüht unsere Onlinepräsenz stetig zu aktualisieren und zu überarbeiten. Es lohnt sich also ab und zu
	bei uns vorbeizuschauen.</p>

<p>Gerne können Sie uns auch Ihr Feedback zur Webseite mitteilen. <span>Anmerkungen, Ideen oder Rückmeldungen</span>
	erreichen uns am
	besten via E-Mail an <a href="mailto:buecherwurm@oschatz.info">buecherwurm&#64;oschatz.info</a> oder telefonisch
	unter <a href="tel:+493435623130">03435/623130</a>. Natürlich können Sie uns auf
	diesem Wege auch bezüglich Fragen oder etwaigen Anliegen Ihrerseits kontaktieren. Wir helfen Ihnen gerne weiter.</p>


<p>Für den Moment laden wir Sie herzlich ein zum Stöbern, Entdecken und Informieren.</p>

<p>Viel Freude wünscht Ihnen</p>

<p><span>das Team der Bücherwürmer</span></p>

<div class="times">
	<button class="btn-set" (click)="toggleMenu()">Unterrichtszeiten</button>
	<div class="dropdown" *ngIf="isMenuVisible" (click)="$event.stopPropagation()">
		<table>
            <thead>
                <tr>
                    </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1. Stunde</td>
                    <td>7.40 Uhr - 8.25 Uhr</td>
                </tr>
                <tr>
                    <td>2. Stunde</td>
                    <td>8.40 Uhr - 9.25 Uhr</td>
                </tr>
                <tr>
                    <td>3. Stunde</td>
                    <td>9.50 Uhr - 10.35 Uhr</td>
                </tr>
                <tr>
                    <td>4. Stunde</td>
                    <td>10.45 Uhr - 11.30 Uhr</td>
                </tr>
                <tr>
                    <td>5. Stunde</td>
                    <td>11.50 Uhr - 12.35 Uhr</td>
                </tr>
                <tr>
                    <td>6. Stunde</td>
                    <td>12.45 Uhr - 13.30 Uhr</td>
                </tr>
            </tbody>
        </table>
	</div>
</div>