@use '../../../../public/styles/all_styles.scss' as all;

:host {
	@include all.size($w: 100%);
	@include all.fl($alit: center, $gap: 1rem);
	@include all.marpad($mar: 0.5rem 0, $pad: 1rem);
	font-size: 1.8rem;
	color: #f79a4e;
	text-shadow: 0.2px 0.2px 1px grey;
	background: transparent;

	@include all.tablet {
		@include all.size($w: 100%, $h: 100%);
		@include all.fl($flexdir: column, $gap: 1rem);
		@include all.marpad($mar: 0, $pad: 0);
		border-radius: 1.6rem;
	}

	&:hover {
		background: #2a3d59;
	}

	img {
		@include all.fl();
		@include all.size($w: 2.8rem, $h: 2.8rem);
		display: none;

		@include all.tablet {
			@include all.size($w: 2rem, $h: 2rem);
			display: flex;
		}
	}

	.nav-name {

		@include all.tablet {
			display: none;
		}
	}
}

:host(.active) {
	background: lightgrey;
}