@use './../../../../../public/styles/all_styles.scss' as all;

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.dialog {
    @include all.size($w: 85dvw, $h: 80dvh);
    @include all.fl($jc: center, $alit: center);
    background-color: white;
    border-radius: 1.6rem;
    border: none;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    position: relative; 
}

.close {
    position: absolute;
    top: 1rem; 
    right: 1rem;
    font-size: 2.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #1f2937;
    
    &:hover {
        color: #f79a4e;
    }
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 100%;

    img {
        max-width: 80%;
        height: auto;
    }
    p {
        max-width: 80%;
    }
}